/MmoClient/Library
/MmoClient/obj
*.meta
/MmoServer/output
/MmoServer/samples/SampleBackServer/obj
/MmoServer/samples/SampleBackServer/bin
/MmoServer/samples/SampleBackServer/Properties
/MmoServer/samples/SampleClient/obj
/MmoServer/samples/SampleClient/bin
/MmoServer/samples/SampleClient/Properties
/MmoServer/samples/SampleFrontServer/obj
/MmoServer/samples/SampleFrontServer/bin
/MmoServer/samples/SampleFrontServer/Properties
/MmoServer/samples/SampleInterface/obj
/MmoServer/samples/SampleInterface/bin
/MmoServer/samples/SampleInterface/Properties
/MmoServer/samples/SampleProtocol/obj
/MmoServer/samples/SampleProtocol/bin
/MmoServer/samples/SampleProtocol/Properties
/MmoServer/samples/SampleProtocol/generated
/MmoServer/publish
/MmoServer/output
/MmoServer/src/FootStone.Client/obj
/MmoServer/src/FootStone.Client/bin
/MmoServer/src/FootStone.Client/Properties
/MmoServer/src/FootStone.Core/obj
/MmoServer/src/FootStone.Core/bin
/MmoServer/src/FootStone.Core/Properties
/MmoServer/src/FootStone.Protocol/obj
/MmoServer/src/FootStone.Protocol/bin
/MmoServer/src/FootStone.Protocol/Properties
/MmoServer/src/FootStone.Protocol/generated
*.user
/MmoServer/test/TestABC/bin
/MmoServer/test/TestABC/obj